* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

:root {
    --mainColor: #ff5722;
    --secPadding: 50px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .container {
        width: 557px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* Start Setting Box */
.setting-box {
    position: fixed;
    top: 0;
    left: -250px;
    min-height: 100vh;
    width: 250px;
    background: #fff;
    z-index: 100;
    transition: .3s;
}

.setting-box.options {
    left: 0;
}

.setting-box .toggle-setting {
    position: absolute;
    right: -30px;
    top: 150px;
    width: 30px;
    background: #fff;
    text-align: center;
    padding: 7px 0;
    transition: .3s;
    cursor: pointer;
}

.setting-box .setting-content .option-box {
    background-color: #eee;
    padding: 10px;
    text-align: center;
    margin: 10px;
}

.setting-box .setting-content .option-box h3 {
    color: #666;
}

.setting-box .setting-content .option-box .color-list {
    margin: 15px 0 0px;
    text-align: center;
}

.setting-box .setting-content .option-box .color-list li {
    width: 24px;
    opacity: .5;
    height: 24px;
    background: red;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.setting-box .setting-content .option-box .color-list li.active {
    box-sizing: content-box;
    border: 3px solid #fff;
    opacity: 1;
}

.setting-box .setting-content .option-box .color-list li:first-child {
    background-color: #ff5722;
}

.setting-box .setting-content .option-box .color-list li:nth-child(2) {
    background-color: #e91e63;
}

.setting-box .setting-content .option-box .color-list li:nth-child(3) {
    background-color: #673ab7;
}

.setting-box .setting-content .option-box .color-list li:nth-child(4) {
    background-color: #2196f3;
}

.setting-box .setting-content .option-box .color-list li:nth-child(5) {
    background-color: #4caf50;
}

.setting-box .setting-content .option-box .random-back .yes,
.setting-box .setting-content .option-box .random-back .no {
    font-weight: bold;
    width: 50px;
    display: inline-block;
    background: var(--mainColor);
    color: #fff;
    padding: 7px;
    margin: 15px 7px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    opacity: .5;
}


.setting-box .setting-content .option-box .random-back span.active {
    opacity: 1;
}

/* Start Landing */
.landing-page {
    position: relative;
    min-height: 100vh;
    background-image: url(../imgs/landing-1.jpg);
    background-size: cover;
}

.landing-page .overlay {
    position: absolute;
    background-color: rgb(0 0 0 / 60%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.landing-page .container header {
    position: relative;
    z-index: 2;
    display: flex;
    color: white;
    padding: 30px 0;
    justify-content: space-between;
    align-items: center;
}

.landing-page .container header .logo {
    width: 250px;
    font-size: 22px;
    font-weight: 600;
}

.landing-page .container header nav .toggle {
    display: none;
    font-size: 20px;
    color: var(--mainColor);
    position: relative;
    right: 30px;
}

@media (max-width: 767px) {
    .landing-page .container header nav .toggle {
        display: block;

    }
}

.landing-page .container header nav .links {
    display: flex;
}



@media (max-width: 767px) {
    .landing-page .container header nav .links {
        display: none;
    }
}

.landing-page .container header nav .links.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    height: 200px;
    justify-content: space-between;
    padding: 20px 0;
    text-align: center;
}

.landing-page .container header nav .links li a {
    margin-left: 22px;
    color: white;
    font-size: 18px;
}

.landing-page .container header nav .links li a:hover,
.landing-page .container header nav .links li a.active {
    color: var(--mainColor);
}

.landing-page .container .landing-text {
    position: absolute;
    z-index: 2;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@media (max-width: 767px) {
    .landing-page .container .landing-text {
        width: 100%;
    }
}

.landing-page .container .landing-text h1 {
    font-size: 44px;
    margin: 0 0 20px;
    line-height: 1.6;

}

.landing-page .container .landing-text h1 span {
    color: var(--mainColor);
    border-bottom-color: var(--mainColor);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    padding-bottom: 5px;
}

@media (max-width: 991px) {
    .landing-page .container .landing-text h1 {
        font-size: 34px;
    }
}

@media (max-width: 767px) {
    .landing-page .container .landing-text h1 {
        font-size: 40px;
        margin-bottom: 12px;
    }
}

@media (max-width: 575px) {
    .landing-page .container .landing-text h1 {
        font-size: 30px;
    }
}

.landing-page .container .landing-text p {
    line-height: 1.8;
    font-size: 20px;
}

@media (max-width: 991px) {
    .landing-page .container .landing-text p {
        font-size: 17px;
    }
}

@media (max-width: 767px) {
    .landing-page .container .landing-text p {
        line-height: 1.6;
        font-size: 16px;
    }
}

/* Start About */
.about {
    padding-top: var(--secPadding);
    padding-bottom: var(--secPadding);
}

.about .container .about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .about .container .about-content {
        flex-direction: column;
    }
}

.about .container .about-content .info-about {
    flex: 1;
}

@media (max-width: 767px) {
    .about .container .about-content .info-about {
        padding: 0;
        margin-bottom: 25px;
        text-align: center;
        flex: 1;
    }
}

.about .container .about-content .info-about h3 {
    color: var(--mainColor);
    font-size: 35px;
    margin-bottom: 15px;
}

.about .container .about-content .info-about p {
    line-height: 1.8;
    color: #525050;
}

.about .container .about-content .about-img {
    position: relative;
    flex: 1;
    text-align: end;
}

.about .container .about-content .about-img img {
    width: 350px;
}

@media (max-width: 575px) {
    .about .container .about-content .about-img img {
        width: 300px;
    }
}

/* Start Our Skills */
.skills {
    padding-top: var(--secPadding);
    padding-bottom: var(--secPadding);
    background-color: #eee;
}

.skills .container h3 {
    color: var(--mainColor);
    font-size: 35px;
    margin: 0 0 30px;
    text-align: center;
}

.skills .container .skill-box {
    background-color: #fff;
    display: flex;
    padding: 15px;
    margin: 0 0 15px;
    align-items: center;
}

.skills .container .skill-box .skill-name {
    width: 100px;
    text-align: center;
    font-weight: bold;
}

.skills .container .skill-box .skill-progress {
    background-color: #f6f6f6;
    width: 100%;
    height: 30px;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}

.skills .container .skill-box .skill-progress span {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--mainColor);
    height: 100%;
    width: 0;
    transition: all 0.7s;
}

.ratio::before {
    position: absolute;
    content: attr(data-progress);
    height: 20px;
    top: 0;
    right: 0;
    height: 100%;
    text-align: center;
    padding: 6px;
    color: #fff;
}

/* Start Our Gallrey */
.gallrey {
    padding-top: var(--secPadding);
    padding-bottom: var(--secPadding);
}

.gallrey .container h3 {
    color: var(--mainColor);
    font-size: 35px;
    margin: 0 0 30px;
    text-align: center;
}

.gallrey .container .imgs-box {
    text-align: center;
}

.gallrey .container .imgs-box img {
    width: 220px;
    height: 130px;
    padding: 3px;
    background-color: #f6f6f6;
    border: 1px solid #ccc;
    margin: 5px;
    cursor: pointer;
}

/* JS */
.popup-overlay {
    position: fixed;
    background-color: rgb(0 0 0 / .7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
}

.popup-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 102;
}

@media (max-width: 767px) {
    .popup-box {
        width: 80%;
    }
}

.popup-box h3 {
    text-align: center;
    margin: 0 0 10px;
    font-size: 22px;
    color: var(--mainColor);
    text-transform: capitalize;
}

.popup-box img {
    max-width: 100%;
}

.close-span {
    width: 30px;
    height: 30px;
    position: absolute;
    right: -15px;
    top: -15px;
    background: var(--mainColor);
    color: #fff;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 0 #000;
}

/* Start Timeline */
.timeline {
    padding-top: var(--secPadding);
    padding-bottom: var(--secPadding);
    background-color: #eee;
}

.timeline .container .timeline-content {
    position: relative;
}

.timeline .container .timeline-content::before {
    position: absolute;
    content: "";
    width: 2px;
    height: calc(100% + 40px);
    background: var(--mainColor);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.timeline .container .timeline-content .year {
    width: 50px;
    background: var(--mainColor);
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    margin: 0 auto;
    z-index: 5;
    position: relative;
    color: #fff;
}

.timeline .container .timeline-content .flex-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.timeline .container .timeline-content .flex-content .left,
.timeline .container .timeline-content .flex-content .right {
    padding: 15px 20px;
    background: #fff;
    border-radius: 4px;
    margin: 25px;
    position: relative;
}

.timeline .container .timeline-content .flex-content .right {
    margin-top: 190px;
}

.timeline .container .timeline-content .flex-content .left::before,
.timeline .container .timeline-content .flex-content .right::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    top: 16px;
    border: 3px solid var(--mainColor);
    background-color: #fff;
}

.timeline .container .timeline-content .flex-content .left::before {
    right: -34px;
}

.timeline .container .timeline-content .flex-content .right::before {
    left: -34px;
}

.timeline .container .timeline-content .flex-content .content h3 {
    color: var(--mainColor);
    margin-bottom: 10px;
    font-weight: bold;
}

.timeline .container .timeline-content .flex-content .content p {
    line-height: 1.6;
    color: #525050;
}

.timeline .container .timeline-content .flex-content .content {
    position: relative;
}

.timeline .container .timeline-content .flex-content .content::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    top: 0;
}

.timeline .container .timeline-content .flex-content .left .content::before {
    right: -40px;
    border-color: transparent transparent transparent #fff;
}

.timeline .container .timeline-content .flex-content .right .content::before {
    left: -40px;
    border-color: transparent #fff transparent transparent;
}

@media (max-width: 767px) {
    .timeline .container .timeline-content .flex-content .content h3 {
        font-size: 16px;
    }

    .timeline .container .timeline-content .flex-content .content p {
        font-size: 14px;
    }
}

/* Start Features */
.features {
    padding-top: var(--secPadding);
    padding-bottom: var(--secPadding);
}

.features .container h3 {
    color: var(--mainColor);
    font-size: 35px;
    margin: 0 0 50px;
    text-align: center;
}

.features .container .feats {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
}

.features .container .feats .feat-box {
    text-align: center;
}


.features .container .feats .feat-box img {
    width: 120px;
    transition: all 0.2s;
}

.features .container .feats .feat-box img:hover {
    border-radius: 50%;
    border: 4px solid var(--mainColor);
}

.features .container .feats .feat-box h4 {
    font-size: 20px;
    margin: 15px 0;
    position: relative;
}

.features .container .feats .feat-box p {
    line-height: 1.6;
    color: #525050;
    font-size: 16px;
    max-width: 350px;
    margin: 0 auto;
}